<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
  <trace autoflush="true">
    <listeners>
      <add name="textLogListener" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="SimpleWindowsService.log"  />
      <remove name="Default" />
    </listeners>
  </trace>
  <switches>
    <!-- This switch controls general messages. In order to 
       receive general trace messages change the value to the 
       appropriate level. 
       1: gives error messages, 
       2: gives errors and warnings, 
       3: gives information plus all above,
       4: gives debug trace information plus all above -->
    <add name="TraceLevelSwitch" value="4" />
  </switches>
  </system.diagnostics>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>